name: lint

on:
  workflow_call:
    inputs: {}
  push: {}
  pull_request:
    branches:
    - main
    - v*
    - feature*

permissions:
  contents: read

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

jobs:
  lint:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Markdown lint
        uses: DavidAnson/markdownlint-cli2-action@v20
        with:
          globs: 'docs/*.md'
      - name: Install go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version-file: 'provider/go.mod'
      - name: disarm go:embed directives to enable lint
        continue-on-error: true # this fails if there are no go:embed directives
        run: |
          git grep -l 'go:embed' -- provider | xargs sed -i 's/go:embed/ goembed/g'
      - name: prepare upstream
        continue-on-error: true
        run: make upstream
      - run: cd provider && go mod tidy
      - name: golangci-lint
        uses: golangci/golangci-lint-action@e7fa5ac41e1cf5b7d48e45e42232ce7ada589601 # v9.1.0
        with:
          working-directory: provider
          skip-pkg-cache: true
